.section {

  @media @min {
    padding: @spaced 0;  
  }
  @media @tablet {
    padding: @spaced*2.5 0;  
  }
  overflow: hidden;
  .font_size(19);

  &-header {

  }

  &-title {
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    color: @blue;
    text-rendering: optimizeLegibility;
    @media @min {
      .font_size(26);
    }
    @media @tablet {
      .font_size(32);
    }
  }

  &-desc {
    p {
      color: inherit;
    }
    a {
      text-decoration: none;
    }
  }

  &-bg {
    background-size: cover;
    background-position: center center;
  }

}