.template-links {

  .link {

    color: @white;
    //background: @textGray;
    margin-bottom:  @fs-grid-gutter*2;


    a {
      text-decoration: none;
      color: @white;
    }

    .centered {
      top: 55%;
      z-index: 99;
    }

    &-bg {
      opacity: .33;
      transition: 600ms ease;
      background-size: cover;
      background-position: center center;
    }

    &:hover {
      .link-bg {
        opacity: .4
      }
    }

    &-date {
      color: inherit;
      margin: 0;
    }

    &-title {
      color: inherit;
      margin: 0;
      line-height: 1.2;
      @media @min {
        .font_size(15)
      }
      @media @tablet {
        .font_size(18);
      }
      @media @desktop {
        .font_size(24)
      }
    }

    &-subtitle {
      color: inherit;
      margin: 0;
    }

    @media @min {
      height: 200px;
    }
    @media @tablet {
      height: 200px
    }
    @media @desktop {
      height: 300px
    }

  }

}