.template-links {

  .link {

    a {
      text-decoration: none;
    }

    &-date {
      color: inherit;
      margin: 0;
    }

    &-title {
      color: inherit;
      margin: 0;
    }

    &-subtitle {
      color: inherit;
      margin: 0;
    }

  }

}