.template-splash {

  @media @min {
    .font_size(17);  
    line-height: 1.3;
  }
  @media @tablet {
    .font_size(24);
    line-height: 1.5;
  }
  
  color: @blue; 

  strong,b {
    color: @white;
  }

  p {
    font-size: inherit;
    color: inherit;
    strong,b {
      color: @white;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

}