#header {

  //padding: @spaced 0;
  @media @min {
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  @media @tablet {
    position: relative;  
  }
  
  z-index: 99;
  background-color: fade(@black, 99%);

  &--logo {
    margin: 0;
    font-weight: 700;
    color: @white;
  }

  &__logo {
    background: url(/assets/img/lfla--logo.png);
    height: 60px;
    width: 60px;
    background-size: cover;
    display: block;
    margin: 0;
    text-indent: -9999px;
  }

  &-navigation {

    @media @min {
      text-align: left;
    }

    @media @tablet {
      text-align: right;
    }

  }

  .menu {

    padding: 0;
    margin: 0;


    li {

      margin: 0;

      &:before {
        display: none;
      }

    }

  }

}